@import 'sass/utilities/initial-variables';

.profileTicker .level-item {
  font-size: $size-4;
  animation-duration: 10s;
}

.profileTicker .level-item:nth-last-child(2),
.profileTicker .level-item:nth-child(2) {
  font-size: $size-5;
  opacity: 0.8;
}

.profileTicker .level-item:last-child,
.profileTicker .level-item:first-child {
  font-size: $size-6;
  opacity: 0.3;
}
